body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 30px;
}

form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 50px auto;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
    font-size: 18px;
}

input[type="text"],
textarea,
select,
input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5H7z' fill='%23777'/%3E%3C/svg%3E") no-repeat right 10px center;
    background-size: 10px;
    padding-right: 30px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="submit"]:focus {
    outline: none;
}

input[type="button"] {
    background-color: darkred;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: #8b0000;
}

input[type="button"]:focus {
    outline: none;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-group input {
    flex: 1;
    margin-right: 10px;
}

.button-group input:last-child {
    margin-right: 0;
}

/* Custom styling for file input */
.file-input {
    position: relative;
    overflow: hidden;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.file-input:hover {
    background-color: #0056b3;
}

.file-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.file-input-label {
    margin-left: 10px;
    vertical-align: middle;
}

.col-3 {
    width: calc(25% - 10px);
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}